# Analizred data
ma dar in notebook data khod ro analiz karde v amade model sazi mikonime
ma dar in analiz say darim ke bravanim etelaat penhan darun dataset ro birun bkeshim va data ro baraye ye model sazi daghigh amade konim 
brim ke shrur konim ...:)

## ghadam aval
dar aval kar ma niyaz darim ke package haye mored niyaz khod ro darun barname import konim

In [36]:
# import library 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [37]:
def jodasazi_c_d(df):
    cont = []
    disc = []
    for column in df.iloc[:, 1:]:
        print(column)
        uni = len(np.unique(column))
        print(uni)
        if uni < 2:
            disc.append(column)
        else:
            cont.append(column)
    return cont, disc

In [38]:
jodasazi_c_d(df)

close
1
high
1
low
1
open
1
volume
1
adjClose
1
adjHigh
1
adjLow
1
adjOpen
1
adjVolume
1
divCash
1
splitFactor
1

([],
 ['close',
  'high',
  'low',
  'open',
  'volume',
  'adjClose',
  'adjHigh',
  'adjLow',
  'adjOpen',
  'adjVolume',
  'divCash',
  'splitFactor'])

In [39]:
df.iloc[:,1:]

,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
0,718.27,722.470,713.1200,716.48,1306065,718.27,722.470,713.1200,716.48,1306065,0,1
1,718.92,722.980,717.3100,719.00,1214517,718.92,722.980,717.3100,719.00,1214517,0,1
2,710.36,716.650,703.2600,714.91,1982471,710.36,716.650,703.2600,714.91,1982471,0,1
3,691.72,708.820,688.4515,708.65,3402357,691.72,708.820,688.4515,708.65,3402357,0,1
4,693.71,702.480,693.4100,698.77,2082538,693.71,702.480,693.4100,698.77,2082538,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1253,2466.09,2468.000,2441.0725,2451.32,1192453,2466.09,2468.000,2441.0725,2451.32,1192453,0,1
1254,2482.85,2494.495,2468.2400,2479.90,1253253,2482.85,2494.495,2468.2400,2479.90,1253253,0,1
1255,2491.40,2505.000,2487.3300,2499.50,1006337,2491.40,2505.000,2487.3300,2499.50,1006337,0,1
1256,2521.60,2523.260,2494.0000,2494.01,1561733,2521.60,2523.260,2494.0000,2494.01,1561733,0,1
1257,2513.93,2526.990,2498.2900,2524.92,1262309,2513.93,2526.990,2498.2900,2524.92,1262309,0,1

## ghadam dovom
ma data khod ro loade karde va amade analize avaliye mikonim

In [40]:
# load data
data = pd.read_csv("GOOG.csv")

In [41]:
# creat data fram by data
df = pd.DataFrame(data)
df.head(10), df.tail(10)

(  symbol                       date   close    high       low    open  \
 0   GOOG  2016-06-14 00:00:00+00:00  718.27  722.47  713.1200  716.48
 1   GOOG  2016-06-15 00:00:00+00:00  718.92  722.98  717.3100  719.00
 2   GOOG  2016-06-16 00:00:00+00:00  710.36  716.65  703.2600  714.91
 3   GOOG  2016-06-17 00:00:00+00:00  691.72  708.82  688.4515  708.65
 4   GOOG  2016-06-20 00:00:00+00:00  693.71  702.48  693.4100  698.77
 5   GOOG  2016-06-21 00:00:00+00:00  695.94  702.77  692.0100  698.40
 6   GOOG  2016-06-22 00:00:00+00:00  697.46  700.86  693.0819  699.06
 7   GOOG  2016-06-23 00:00:00+00:00  701.87  701.95  687.0000  697.45
 8   GOOG  2016-06-24 00:00:00+00:00  675.22  689.40  673.4500  675.17
 9   GOOG  2016-06-27 00:00:00+00:00  668.26  672.30  663.2840  671.00

     volume  adjClose  adjHigh    adjLow  adjOpen  adjVolume  divCash  \
 0  1306065    718.27   722.47  713.1200   716.48    1306065        0
 1  1214517    718.92   722.98  717.3100   719.00    1214517        0
 2  1982471    710.36   716.65  703.2600   714.91    1982471        0
 3  3402357    691.72   708.82  688.4515   708.65    3402357        0
 4  2082538    693.71   702.48  693.4100   698.77    2082538        0
 5  1465634    695.94   702.77  692.0100   698.40    1465634        0
 6  1184318    697.46   700.86  693.0819   699.06    1184318        0
 7  2171415    701.87   701.95  687.0000   697.45    2171415        0
 8  4449022    675.22   689.40  673.4500   675.17    4449022        0
 9  2641085    668.26   672.30  663.2840   671.00    2641085        0

    splitFactor
 0            1
 1            1
 2            1
 3            1
 4            1
 5            1
 6            1
 7            1
 8            1
 9            1  ,
      symbol                       date    close       high        low  \
 1248   GOOG  2021-05-28 00:00:00+00:00  2411.56  2428.1400  2407.6900
 1249   GOOG  2021-06-01 00:00:00+00:00  2429.81  2437.9709  2404.8800
 1250   GOOG  2021-06-02 00:00:00+00:00  2421.28  2442.0000  2404.2000
 1251   GOOG  2021-06-03 00:00:00+00:00  2404.61  2409.7450  2382.8300
 1252   GOOG  2021-06-04 00:00:00+00:00  2451.76  2453.8590  2417.7700
 1253   GOOG  2021-06-07 00:00:00+00:00  2466.09  2468.0000  2441.0725
 1254   GOOG  2021-06-08 00:00:00+00:00  2482.85  2494.4950  2468.2400
 1255   GOOG  2021-06-09 00:00:00+00:00  2491.40  2505.0000  2487.3300
 1256   GOOG  2021-06-10 00:00:00+00:00  2521.60  2523.2600  2494.0000
 1257   GOOG  2021-06-11 00:00:00+00:00  2513.93  2526.9900  2498.2900

          open   volume  adjClose    adjHigh     adjLow  adjOpen  adjVolume  \
 1248  2421.96  1205382   2411.56  2428.1400  2407.6900  2421.96    1205382
 1249  2422.00   958289   2429.81  2437.9709  2404.8800  2422.00     958289
 1250  2435.31   858105   2421.28  2442.0000  2404.2000  2435.31     858105
 1251  2395.02   917291   2404.61  2409.7450  2382.8300  2395.02     917291
 1252  2422.52  1297434   2451.76  2453.8590  2417.7700  2422.52    1297434
 1253  2451.32  1192453   2466.09  2468.0000  2441.0725  2451.32    1192453
 1254  2479.90  1253253   2482.85  2494.4950  2468.2400  2479.90    1253253
 1255  2499.50  1006337   2491.40  2505.0000  2487.3300  2499.50    1006337
 1256  2494.01  1561733   2521.60  2523.2600  2494.0000  2494.01    1561733
 1257  2524.92  1262309   2513.93  2526.9900  2498.2900  2524.92    1262309

       divCash  splitFactor
 1248        0            1
 1249        0            1
 1250        0            1
 1251        0            1
 1252        0            1
 1253        0            1
 1254        0            1
 1255        0            1
 1256        0            1
 1257        0            1  )

## ghadam sevom
ba komak **describe()** va ketabkhune khafan **pandas** ma mitunim be tor koli negah amari be data bendazim va etelaat avaliye ro estekhraj konim

In [42]:
df.describe()

,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
count,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03,1258.000000,1258.000000,1258.000000,1258.000000,1.258000e+03,1258.0,1258.0
mean,1216.317067,1227.430934,1204.176430,1215.260779,1.601590e+06,1216.317067,1227.430936,1204.176436,1215.260779,1.601590e+06,0.0,1.0
std,383.333358,387.570872,378.777094,382.446995,6.960172e+05,383.333358,387.570873,378.777099,382.446995,6.960172e+05,0.0,0.0
min,668.260000,672.300000,663.284000,671.000000,3.467530e+05,668.260000,672.300000,663.284000,671.000000,3.467530e+05,0.0,1.0
25%,960.802500,968.757500,952.182500,959.005000,1.173522e+06,960.802500,968.757500,952.182500,959.005000,1.173522e+06,0.0,1.0
50%,1132.460000,1143.935000,1117.915000,1131.150000,1.412588e+06,1132.460000,1143.935000,1117.915000,1131.150000,1.412588e+06,0.0,1.0
75%,1360.595000,1374.345000,1348.557500,1361.075000,1.812156e+06,1360.595000,1374.345000,1348.557500,1361.075000,1.812156e+06,0.0,1.0
max,2521.600000,2526.990000,2498.290000,2524.920000,6.207027e+06,2521.600000,2526.990000,2498.290000,2524.920000,6.207027e+06,0.0,1.0

## ghadam chaharom
baz ham **pandas** tunest be ma komak kone ta ma betunim **type** ya noe date hamun ro befahmin va kar haye avaliye ro baray data khan tar va computer pasand tar anjam bedinm
- avalin kar dar inja taghir **type** sutun **date** hast be **datetime**
- hazv sutun **symbol**

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   symbol       1258 non-null   object
 1   date         1258 non-null   object
 2   close        1258 non-null   float64
 3   high         1258 non-null   float64
 4   low          1258 non-null   float64
 5   open         1258 non-null   float64
 6   volume       1258 non-null   int64
 7   adjClose     1258 non-null   float64
 8   adjHigh      1258 non-null   float64
 9   adjLow       1258 non-null   float64
 10  adjOpen      1258 non-null   float64
 11  adjVolume    1258 non-null   int64
 12  divCash      1258 non-null   int64
 13  splitFactor  1258 non-null   int64
dtypes: float64(8), int64(4), object(2)
memory usage: 137.7+ KB

In [44]:
df.drop(columns='symbol', inplace=True, errors='raise')

In [45]:
df['date'] = df['date'].str.split(' ')[0][0]

In [46]:
df['date'] = pd.to_datetime(df['date'])

## ghadam panjom
bad az check kardan **type** hazv kardan sutun **symbol** ke baraye ma be onvan yek sotun bi arzesh mahsum mishod bayad chek konim ke data ma **missing value** nadashte vashad.darsurat vjud **missing value** ma 2 raviye ra mitavanim baraye handel kardanm in maghadir pish begirim:
1. hazv satr ya sutun daraye **missing value**
2. por kardan **missing value**

In [47]:
df.isnull().sum()

date           0
close          0
high           0
low            0
open           0
volume         0
adjClose       0
adjHigh        0
adjLow         0
adjOpen        0
adjVolume      0
divCash        0
splitFactor    0
dtype: int64

## ghadam sheshom
khabar khob in bud ke dataset ma **missing value** nadard vali in dalil bar in ke aya data set ma daraye **noise** v **outlier** mibashad ya na nist.
pas ma data khod ro **visiuliz** mikonim ta motmaen shavim.

In [48]:
cont, disc = jodasazi_c_d(df)

close
1
high
1
low
1
open
1
volume
1
adjClose
1
adjHigh
1
adjLow
1
adjOpen
1
adjVolume
1
divCash
1
splitFactor
1

In [49]:
df

,date,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
0,2016-06-14,718.27,722.470,713.1200,716.48,1306065,718.27,722.470,713.1200,716.48,1306065,0,1
1,2016-06-14,718.92,722.980,717.3100,719.00,1214517,718.92,722.980,717.3100,719.00,1214517,0,1
2,2016-06-14,710.36,716.650,703.2600,714.91,1982471,710.36,716.650,703.2600,714.91,1982471,0,1
3,2016-06-14,691.72,708.820,688.4515,708.65,3402357,691.72,708.820,688.4515,708.65,3402357,0,1
4,2016-06-14,693.71,702.480,693.4100,698.77,2082538,693.71,702.480,693.4100,698.77,2082538,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1253,2016-06-14,2466.09,2468.000,2441.0725,2451.32,1192453,2466.09,2468.000,2441.0725,2451.32,1192453,0,1
1254,2016-06-14,2482.85,2494.495,2468.2400,2479.90,1253253,2482.85,2494.495,2468.2400,2479.90,1253253,0,1
1255,2016-06-14,2491.40,2505.000,2487.3300,2499.50,1006337,2491.40,2505.000,2487.3300,2499.50,1006337,0,1
1256,2016-06-14,2521.60,2523.260,2494.0000,2494.01,1561733,2521.60,2523.260,2494.0000,2494.01,1561733,0,1
1257,2016-06-14,2513.93,2526.990,2498.2900,2524.92,1262309,2513.93,2526.990,2498.2900,2524.92,1262309,0,1